<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title> 독후감 </title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Gowun Dodum', sans-serif;
        }



    </style>
    <script>
        $(document).ready(function () {
            listing();
        });

        function listing() {

            $('#cards-box').empty()
            $.ajax({
                type: 'GET',
                url: '/book',
                data: {},
                success: function (response) {
                    let rows = response['books']
                    for (let i = 0; i < rows.length; i++) {
                        let num = rows[i]['num']
                        let image = rows[i]['image']
                        let title = rows[i]['title']
                        let desc = rows[i]['desc']
                        let star = rows[i]['star']
                        let comment = rows[i]['comment']

                        let star_image = '⭐'.repeat(star)

                        let temp_html = `<div class="col">
                                            <div class="card h-100">
                                                <img src="${image}"
                                                     class="card-img-top">
                                                <div class="card-body">
                                                    <h5 class="card-title">${title}</h5>
                                                    <p class="card-text">${desc}</p>
                                                    <p>${star_image}</p>
                                                    <p class="mycomment">${comment}</p>
                                                    <button type="button"  onclick="open_edit(${num})" class="btn btn-primary mb-3">수정</button>
                                                    <button type="button"  onclick="delete_edit(${num})" class="btn btn-primary mb-3">삭제</button>
                                                </div>
                                            </div>
                                        </div>`

                        $('#cards-box').append(temp_html)
                    }
                }
            })
        }

        function posting() {
            let url = $('#url').val()
            let star = $('#star').val()
            let comment = $('#comment').val()
            let num = $('#num').val()


            $.ajax({
                type: 'POST',
                url: '/book',
                data: {url_give: url, star_give: star, comment_give: comment, num_give: num},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }


        ////////////////////delete_edit//////////////////

        //delete_edit
        function delete_edit(num) {
            console.log('콘솔로그체크')
            $('#delete-box').show()  //id: delete-box
            let temp_html = ` <div class="delete_box">
                             <div class="delete-box-title">
                                  <h3>삭제하시겠습니까?</h3>
                                  </div>
                                  <div class="delete-box-content">
                                  <div class="delete_box-content-btn">
                                      <button onclick="delete_btn(${num})" type="button" class="btn btn-primary mb-3">삭제</button>
                                      <button onclick="cancel_btn()" type="button" class="btn btn-primary mb-3">취소</button>
                                  </div>
                                  </div>`
            $('#delete-box').append(temp_html)
        }

        //delete_btn
        function delete_btn(num) {
            // delete_ben에 num값 보내기
            $.ajax({
                type: "POST",                   // POST 요청
                url: "/delete",                 // /delete 경로에
                data: {num_give: num},          // num을 받아서
                success: function (response) {  // 성공하면, response에 값을 담아서
                    alert(response["msg"])      // msg를 띄운다.

                    window.location.reload()  //새로고침
                }
            });
        }

        ////////////////////delete_edit//////////////////

        /////////////////////cancel_btn//////////////////
        function cancel_btn() {          // cancel_btn 함수
            $('#delete-box').hide()       // id: delete-box 숨기기
            window.location.reload()      // 새로고침
        }

        /////////////////////cancel_btn//////////////////


        // 수정 버튼 클릭시 onclick 이벤트를 통해서, open_edit 함수로 이동되어 여기로 온다.
        function open_edit(num) { // num 값을 가져온다
            $('#edit-box').empty() // id: edit-box를 비운다.
            $('#edit-box').show()  // id: edit-box를 보여준다.
            $.ajax({               // ajax GET 방식으로 /edit 경로로 num 값을 보낸다.
                type: 'GET',       // GET 요청
                url: '/open/edit',      // app.py 파일의 /edit 경로로 'GET' 요청을 보낸다.
                data: {num_give: num}, // num 값을 보낸다.
                success: function (response) { // 성공하면 response에 num, url, star, comment 값을 담아 보낸다.
                    let rows = (response['books']) // pythonthema 테이블의 모든 값을 rows에 담는다.
                    for (let i = 0; i < rows.length; i++) {
                        let num1 = rows[i]['num'] // num 값을 num1에 담는다.
                        let url = rows[i]['url'] // url 값을 url에 담는다.
                        let star = rows[i]['star'] // star 값을 star에 담는다.
                        let comment = rows[i]['comment'] // comment 값을 comment에 담는다.
                        let temp_html = `` // temp_html에 html 코드를 담는다.

                        if (num === num1) {
                            temp_html = `
                                             <div class="edit-box" >
                                                 <div class="edit-box-title">
                                                 <h3>수정하기</h3>

                                                 </div>
                                                 <div class="edit-box-content">
                                                     <div class="edit-box-content-url">
                                                         <input class="form-control" type="text" id="url_e" value="${url}">
                                                     </div>
                                                     <div class="edit-box-content-star">
                                                         <label class="input-group-text" for="inputGroupSelect01"value="${star}">
                                                            <select class="form-select" id="star_e">
                                                                <option selected>-- 선택하기 --</option>
                                                                <option value="1">⭐</option>
                                                                <option value="2">⭐⭐</option>
                                                                <option value="3">⭐⭐⭐</option>
                                                                <option value="4">⭐⭐⭐⭐</option>
                                                                <option value="5">⭐⭐⭐⭐⭐</option>
                                                                </label>
                                                            </select>
                                                     </div>
                                                     <div class="edit-box-content-comment">
                                                         <input class="form-control" type="text" id="comment_e" value="${comment}">
                                                     </div>
                                                     <div class="edit-box-content-btn">
                                                         <button class="btn btn-primary mb-3" onclick="edit_order(${num})">수정하기</button>
                                                         <button class="btn btn-primary mb-3" onclick="close_edit()">닫기</button>
                                                     </div>
                                                 </div>
                                             </div> `
                        } else {
                            temp_html = ``
                        }
                        $('#edit-box').append(temp_html) // id: edit-box에 temp_html을 추가한다.
                    }
                }
            });
        }

        // 수정입력 박스 닫기, 수정입력박스 id: #edit-box
        function close_edit() {
            $('#edit-box').hide()
            window.location.reload()
        }


        ///////////////////////////수정/////////////////////////
        //수정하기 버튼 선택 시, edit_order() 함수실행
        function edit_order(num) {
            let url = $('#url_e').val()
            let star = $('#star_e').val()
            let comment = $('#comment_e').val()
            $.ajax({
                type: 'POST',
                url: '/save/edit',
                data: {url_give: url, star_give: star, comment_give: comment, num_give: num},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        ///////////////////////////수정/////////////////////////


        function open_box() {
            $('#post-box').show()
        }

        function close_box() {
            $('#post-box').hide()
        }
    </script>
</head>

<body>
<div class="mytitle">
    <h1>독후감</h1>
    <button onclick="open_box()">기록하기</button>
</div>
<div class="myedit" id="edit-box"></div>


<div class="mydelete" id="delete-box"></div>


<div class="mypost" id="post-box">
    <div class="form-floating mb-3">
        <input id="url" type="email" class="form-control" placeholder="name@example.com">
        <label>도서URL</label>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">별점</label>
        <select class="form-select" id="star">
            <option selected>-- 선택하기 --</option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select>
    </div>
    <div class="form-floating">
        <textarea id="comment" class="form-control" placeholder="Leave a comment here"></textarea>
        <label for="floatingTextarea2">코멘트</label>
    </div>
    <div class="mybtns">
        <button onclick="posting()" type="button" class="btn btn-primary mb-3">기록하기</button>
        <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
    </div>
</div>
<div class="mycards">
    <div class="row row-cols-1 row-cols-md-4 g-4" id="cards-box">
        <div class="col">
            <div class="card h-100">
                <img src="https://movie-phinf.pstatic.net/20210728_221/1627440327667GyoYj_JPEG/movie_image.jpg"
                     class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"> 제목이 들어갑니다</h5>
                    <p class="card-text">여기에 설명이 들어갑니다.</p>
                    <p>⭐⭐⭐</p>
                    <p class="mycomment">나의 독후감을 씁니다</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>

</html>