* {
            font-family: 'Gowun Dodum', sans-serif;
        }
        .active{

        }
        /*home.html css 적용내용*/
         * {margin:0; padding: 0; box-sizing: border-box;}
.signup_text{
    height: 40;
    width: auto;
    border-radius: initial;
    display: table;
    width: auto;
    text-align: center;
    vertical-align: middle;

}
body1{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


    background-size: cover;
    background-blend-mode: darken;


}
body1::before {
    content: "";
    position:unset ; z-index: 1;


    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.7);

}




.btn {
    width: 100%; height: 50px;
    background: #166cea;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}



h1{color: black;}
#window{border:1px solid; margin:10px; padding:10px;}

.delete-box-title > h3{
    text-align: center;

}

 login user css
:root {
  --black: #000000;
  --almost-black: #263238;
  --white: #ffffff;
  --almost-white: #FBFBFB;
  --grey-light: #CFD8DC;
  --grey: #B0BEC5;
  --grey-medium: #78909C;
  --grey-dark: #455A64;
  --primary: #1E88E5;
  --primary-dark: #1976D2;
  --secondary: #CFD8DC;
  --secondary-dark: #B0BEC5;
  --red: #EF4836;
}

        /*home.html css 적용내용*/
        .mytitle {
            width: 100%;
            height: 250px;
            background-image: url("background.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
            background-position: center;
            background-size: cover;
            color: black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .mytitle > button {
            width: 200px;
            height: 50px;
            background-color: transparent;
            color: black;
            border-radius: 50px;
            border: 2px solid black;
            margin-top: 10px;
        }


        .mytitle > button:hover {
            border: 2px solid white;
        }
        .mycomment {
            color: gray;
        }
        .mycards {
            margin: 20px auto 0px auto;
            width: 95%;
            max-width: 1200px;
        }
        .mypost {
            width: 95%;
            max-width: 500px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;
            display: none;
        }
        .mybtn {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        .mybtn > button {
            margin-right: 10px;
        }
        .wrap {
            max-width: 1200px;
            margin: 20px auto 0px auto;
        }
        .change {

            display: flex;
            flex-direction: row;
        }
        .change > button {

            margin-left: auto;

            height: 30px;

            border: 1px solid white;

        }
        .myedit {
            background-color: white;
            max-width: 500px;
            width: 95%;
            margin: 20px auto 0 auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;
            display: none;
        }
        .btns {
            margin-left: auto;
        }
        .btns > button {
             border: 1px solid white;
            font-size: small;
        }
         .delete {
            background-color: grey;
            max-width: 500px;
            width: 95%;
            margin: 20px auto 0 auto;
            box-shadow: 0px 0px 3px 0px gray;
            border-radius: 5px;
            padding: 30px;
            display: none;
        }
        .delete_btns {
            margin-top: 20px;
        }
        .delete_btns > button {
            margin-right: 10px;
        }



